<canvas id="main" width="400" height="400" data-game-id="{{gameId}}"></canvas>
<p id="instructions">Start drawing, then press the spacebar to begin</p>
<script type="text/javascript" src="/js/canvas.js"></script>
